[submodule "vendor/github.com/lrstanley/girc"]
	path = vendor/github.com/lrstanley/girc
	url = git://github.com/lrstanley/girc.git
[submodule "vendor/renameio.git"]
	path = vendor/github.com/google/renameio
	url = git://github.com/google/renameio.git
